<div>
	<script id="bidForm" type="text/x-jquery-tmpl">
		<div id="bidding">
			<div class="logs">
				<div class="title" data-msg="bidder log" />
				<div class="list" />
			</div>
			<form class="form" autocomplete="off" method="post" enctype="multipart/form-data">
				<div class="clear">
					<div class="l info relative"><div class="inner"><span data-msg="bidder form info" /><span class="bidMaxValue" /></div></div>
					<div class="l value">
						<div class="inp"><input class="js-lastBid_value" type="text" value="" maxlength="15"></div>
						<div class="errors" style="display:none;">
							<div class="error empty" data-msg="bid error empty" />
							<div class="error format" data-msg="bid error format" />
							<div class="error zerro_value" data-msg="bid error zerro" />
							<div class="error same_value" data-msg="bid error same" />
							<div class="error max_value"><span data-msg="bid error max" /><span class="bidMaxValue" /></div>
						</div>
					</div>
					<div class="l discount">0%</div>
					<div class="r action"><button type="submit" data-msg="bid send"></button></div>
					<input type="hidden" name="data[value]" value="">
				</div>
			</form>
			<div class="smallMinBidValue" data-msg="bid max value is small"></div>
		</div>
	</script>
	<script id="bidLog" type="text/x-jquery-tmpl">
		<div class="line clear {{if last}}actualBid{{/if}}" data-value="${value}">
			<div class="l info">${date} <span data-msg="bid from IP" /> {{if ip}}${ip}{{else}}<span data-msg="bidder no IP" />{{/if}}</div>
			<div class="l value">${number_format(value,2,','," ")}</div>
			<div class="l discount">${number_format(discount,0,'.',"")}%</div>
			<div class="r action">{{if last}}<span class="actualBid" data-msg="bid actual" />{{else}}<a class="js-actulize" data-value="${number_format(value,2,'.',"")}" href="javascript:;" data-msg="bid actulize" />{{/if}}</div>
		</div>
	</script>
</div>